/* ----------------------- GENERAL STYLES ------------------ */
:root {
  --color-primary: #ff4747;
  --color-secondary: #ff7b00;
  --color-accent: #77f850;
  --color-heading: #3cde07;
  --color-heading-darker: #5c5577;
  --color-body: #b1b5b1;
  --color-white: #fff;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box; /*Border box sizes the items internaly*/
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.8;
  color: var(--color-body);
}

a {
  text-decoration: none; /*Removes the underline line*/
}
/* ----------------------- GENERAL STYLES ------------------ */

/* ----------------------- TYPOGRAPHY STYLES ------------------ */
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* ----------------------- TYPOGRAPHY STYLES ------------------ */

/* ----------------------- LINKS STYLES ------------------ */
.link-arrow {
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: '-->';
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* ----------------------- LINKS STYLES ------------------ */

/* ----------------------- DISCOUNT BADGES STYLES ------------------ */
/* Structure */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem; /*V H*/
  white-space: nowrap;
}
/* Structure */

/* Skin */
.badge--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.badge--secondary {
  background: var(--color-secondary);
  color: var(--color-white);
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}
/* Skin */
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.6rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}
/* ----------------------- DISCOUNT BADGES STYLES ------------------ */

/* ----------------------- LISTS STYLES ------------------ */
/* Structure */
.list {
  list-style: none; /*Removes the bullet points*/
  margin-left: 0; /*Removes the margin applied by the browsers*/
  color: var(--color-heading);
}
/* Structure */

/* Skin */
/* This section applys to the items aligned horizentally */
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* This section applys to the items in the card section */
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
/* Skin */

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* ----------------------- LISTS STYLES ------------------ */

/* ----------------------- SVG ICONS STYLES ------------------ */
/* Structure */
.icon {
  width: 40px;
  height: 40px;
}
/* Structure */

/* Skin */
.icon--primary {
  /* Fill prop gives color to SVG files */
  fill: var(--color-primary);
}

.icon--white {
  fill: var(--color-white);
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}
/* Skin */
/* ----------------------- SVG ICONS STYLES ------------------ */

/* ----------------------- BUTTONS STYLES ------------------ */
/* Structure */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0; /*V H*/
  padding: 2rem 3rem; /*V H*/
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
/* Structure */

/* Skin */
.btn--streched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn--primary:hover {
  background: orange;
  color: var(--color-white);
}

.btn--secondary {
  background: var(--color-secondary);
  color: var(--color-white);
}

.btn--secondary:hover {
  background: red;
  color: var(--color-white);
}

.btn--accent {
  background: var(--color-accent);
  color: var(--color-white);
}

.btn--accent:hover {
  background: green;
  color: var(--color-white);
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--outline {
  background: var(--color-white);
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
}

.btn--outline:hover {
  background: var(--color-heading);
  color: var(--color-white);
}
/* Skin */

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
/* ----------------------- BUTTONS STYLES ------------------ */

/* ----------------------- INPUT STYLES ------------------ */
/* Structure */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-heading);
  font-size: 2rem;
  outline: 0; /*Removes the border applied by the browsers*/
  padding: 1.5rem 3.5rem; /*V H*/
}
/* Structure */

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  display: flex;
}

/* If we have an input class inside the 
input-group, the style will apply */
.input-group .input {
  border: 0;
  padding: 1.5rem 1rem; /*V H*/
  flex-grow: 1; /*Expands the width of the input*/
}

/* If we have a button inside the input-group
the style will apply */
.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* ----------------------- INPUT STYLES ------------------ */

/* ----------------------- CARD STYLES ------------------ */
/* Structure */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}
/* Structure */

/* Skin */
.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: var(--color-white);
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: var(--color-white);
}

.card--accent .card__header {
  background: var(--color-accent);
  color: var(--color-white);
}

.plan__name {
  color: var(--color-white);
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  /*usign the relative position
  contains the badge inside the element*/
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -1px;
  right: 5%;
}

/* Skin */

/* Media */
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}
/* Media */
/* ----------------------- CARD STYLES ------------------ */

/* ----------------------- MEDIA STYLES ------------------ */
.media {
  display: flex;
}

.media__image {
  margin-top: 1rem;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  margin-top: 0;
}
/* ----------------------- MEDIA STYLES ------------------ */

/* ----------------------- QUOTE STYLES ------------------ */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-heading-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
}

.quote__company {
  color: var(--color-heading-darker);
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

/* Media */
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__company {
    font-size: 1.6rem;
  }
}
/* Media */
/* ----------------------- QUOTE STYLES ------------------ */

/* ----------------------- GRID STYLES ------------------ */
.grid {
  display: grid;
}

/* Media */
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Media */
/* ----------------------- GRID STYLES ------------------ */

/* ----------------------- TESTIMONIAL STYLES ------------------ */
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

/* Use direct child selector within this class */
.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}
/* ----------------------- TESTIMONIAL STYLES ------------------ */

/* ----------------------- CALLOUT STYLES ------------------ */
.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.callout__content {
  text-align: center;
}

.callout__heading {
  color: var(--color-white);
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  align-self: center; /*Align vertically*/
  justify-self: center; /*Align horizentally*/
}

/* Media */
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    /* The second column takes enough space to 
    contain its item (btn) the rest of the 
    speace will be allocated to the first column */
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}
/* Media */
/* ----------------------- CALLOUT STYLES ------------------ */

/* ----------------------- COLLAPSIBLE STYLES ------------------ */
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}
/* ----------------------- COLLAPSIBLE STYLES ------------------ */

/* ----------------------- BLOCK STYLES ------------------ */
.block {
  /* Define an internal padding for multiple usage */
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem; /*V H*/
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark .block__heading {
  color: var(--color-white);
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* ----------------------- BLOCK STYLES ------------------ */

/* ----------------------- NAV STYLES ------------------ */
.nav {
  align-items: center;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

/* The list */
.nav__list {
  width: 100%;
  margin: 0;
}
/* The list */

/* The list items */
.nav__item {
  padding: 0.5rem 2rem; /*V H*/
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}
/* The list items */

/* The menu icon */
.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}
/* The menu icon */

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 2px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
}

/* media */
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none; /*Hides the menu icon in big screens*/
  }

  .nav__list {
    display: flex; /*Spreads out the items*/
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .nav__item {
    border: 0;
  }
}
/* media */
/* ----------------------- NAV STYLES ------------------ */
