/* ----------------------- GENERAL STYLES ------------------ */
:root {
  --color-primary: #ff4747;
  --color-secondary: #de2c2c;
  --color-accent: #8efd6c;
  --color-heading: #3cde07;
  --color-body: #b1b5b1;
  --color-white: #fff;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box; /*Border box sizes the items internaly*/
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.8;
  color: var(--color-body);
}

a {
  text-decoration: none; /*Removes the underline line*/
}
/* ----------------------- GENERAL STYLES ------------------ */

/* ----------------------- TYPOGRAPHY STYLES ------------------ */
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* ----------------------- TYPOGRAPHY STYLES ------------------ */

/* ----------------------- LINKS STYLES ------------------ */
.link-arrow {
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: '-->';
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* ----------------------- LINKS STYLES ------------------ */

/* ----------------------- DISCOUNT BADGES STYLES ------------------ */
/* Structure */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem; /*V H*/
  white-space: nowrap;
}
/* Structure */

/* Skin */
.badge--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.badge--secondary {
  background: var(--color-secondary);
  color: var(--color-white);
}

.badge--small {
  font-size: 1.6rem;
}
/* Skin */
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.6rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}
/* ----------------------- DISCOUNT BADGES STYLES ------------------ */

/* ----------------------- LISTS STYLES ------------------ */
/* Structure */
.list {
  list-style: none; /*Removes the bullet points*/
  margin-left: 0; /*Removes the margin applied by the browsers*/
  color: var(--color-heading);
}
/* Structure */

/* Skin */
/* This section applys to the items aligned horizentally */
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* This section applys to the items in the card section */
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
/* Skin */

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* ----------------------- LISTS STYLES ------------------ */

/* ----------------------- SVG ICONS STYLES ------------------ */
/* Structure */
.icon {
  width: 40px;
  height: 40px;
}
/* Structure */

/* Skin */
.icon--primary {
  /* Fill prop gives color to SVG files */
  fill: var(--color-primary);
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* Skin */
/* ----------------------- SVG ICONS STYLES ------------------ */

/* ----------------------- BUTTONS STYLES ------------------ */
/* Structure */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0; /*V H*/
  padding: 2rem 3rem; /*V H*/
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
/* Structure */

/* Skin */
.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn--primary:hover {
  background: orange;
  color: var(--color-white);
}

.btn--secondary {
  background: var(--color-secondary);
  color: var(--color-white);
}

.btn--secondary:hover {
  background: red;
  color: var(--color-white);
}

.btn--accent {
  background: var(--color-accent);
  color: var(--color-white);
}

.btn--accent:hover {
  background: green;
  color: var(--color-white);
}

.btn--outline {
  background: var(--color-white);
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
}

.btn--outline:hover {
  background: var(--color-heading);
  color: var(--color-white);
}
/* Skin */

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
/* ----------------------- BUTTONS STYLES ------------------ */

/* ----------------------- INPUT STYLES ------------------ */
/* Structure */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-heading);
  font-size: 2rem;
  outline: 0; /*Removes the border applied by the browsers*/
  padding: 1.5rem 3.5rem; /*V H*/
}
/* Structure */

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  display: flex;
}

/* If we have an input class inside the 
input-group, the style will apply */
.input-group .input {
  border: 0;
  padding: 1.5rem 1rem; /*V H*/
  flex-grow: 1; /*Expands the width of the input*/
}

/* If we have a button inside the input-group
the style will apply */
.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* ----------------------- INPUT STYLES ------------------ */
