<!-- START - Callouts -->
<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <!-- Callout content -->
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get strated?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        dolor ipsum, totam perferendis aliquam, mollitia labore exercitationem
        recusandae officia veniam nostrum modi adipisci nihil sapiente!
      </p>
    </div>
    <!-- Callout content -->
    <a class="btn btn--secondary btn--streched" href="#">Ready to start</a>
  </div>
</div>
<!-- END - Callouts -->
