<!-- Domain Blocks -->
<section class="block container block-domain">
  <!-- Header -->
  <header class="block__header">
    <h2>Blocks</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, id
      officiis. Sed soluta hic earum mollitia commodi quod in dolores.
    </p>
  </header>
  <!-- Header -->

  <!-- Input Groups -->
  <div class="input-group">
    <input class="input" type="text" placeholder="Search for food" />
    <button class="btn btn--primary">
      <svg class="icon icon--primary icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Order Now
    </button>
  </div>
  <!-- Input Groups -->

  <!-- List of Option -->
  <ul class="list block-domain__prices">
    <li class="block-domain__list">
      <span class="badge badge--secondary">Soup $15.5</span>
    </li>
    <li class="block-domain__list">Combo meal $18</li>
    <li class="block-domain__list">Sandwich $15</li>
    <li class="block-domain__list">Rice meals $22</li>
    <li class="block-domain__list">Bread $4</li>
    <li class="block-domain__list">Drinks $2</li>
  </ul>
  <!-- List of Option -->
</section>
<!-- Domain Blocks -->
