<!-- Media Objects -->
<div class="media">
  <!-- Media Image -->
  <div class="media__image">
    <svg class="icon icon--primary">
      <use href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <!-- Media Image -->
  <!-- Media Body -->
  <div class="media__body">
    <h3 class="media__title">Easy to Manage & Update</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis illo
      voluptatem eligendi at. Amet, officiis optio illum doloremque sapiente
      corporis.
    </p>
  </div>
  <!-- Media Body -->
</div>
<!-- Media Objects -->
