<!-- Nav bar -->
<nav class="nav collapsible">
  <!-- Brand Logo (Clickable) -->
  <a href="/" class="nav__brand"><img src="images/logo.svg" alt="NA" /></a>
  <!-- Brand Logo (Clickable) -->

  <!-- Menu Icon for mobiles -->
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <!-- Menu Icon for mobiles -->

  <!-- Nav items -->
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Prices</a></li>
    <li class="nav__item"><a href="#">Fourm</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
    <li class="nav__item"><a href="#">Course</a></li>
  </ul>
  <!-- Nav items -->
</nav>
<!-- Nav bar -->
