<!-- START - SHOWCASE BLOCK - WHAT THE PLAN HAVE -->
<section class="block block--dark block--skewed-right block-showcase">
  <!-- Header of the showcase block -->
  <header class="block__header">
    <h2 class="block__heading">User Friendly Menu</h2>
  </header>
  <!-- Header of the showcase block -->

  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="images/ipad.webp x1, images/ipad@2x.webp x2"
      />
      <source
        type="image/png"
        srcset="images/ipad.png x1, images/ipad@2x.png x2"
      />
      <img src="images/ipad.png" alt="ipad image" />
    </picture>
    <ul class="list">
      <!-- Feature 1 -->
      <li>
        <!-- Media Objects -->
        <div class="media">
          <!-- Media Image -->
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <!-- Media Image -->
          <!-- Media Body -->
          <div class="media__body">
            <h3 class="media__title">Easy to Manage & Update</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
              illo voluptatem eligendi at. Amet, officiis optio illum doloremque
              sapiente corporis.
            </p>
          </div>
          <!-- Media Body -->
        </div>
        <!-- Media Objects -->
      </li>
      <!-- Feature 1 -->

      <!-- Feature 2 -->
      <li>
        <!-- Media Objects -->
        <div class="media">
          <!-- Media Image -->
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <!-- Media Image -->
          <!-- Media Body -->
          <div class="media__body">
            <h3 class="media__title">Easy to Manage & Update</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
              illo voluptatem eligendi at. Amet, officiis optio illum doloremque
              sapiente corporis.
            </p>
          </div>
          <!-- Media Body -->
        </div>
        <!-- Media Objects -->
      </li>
      <!-- Feature 2 -->

      <!-- Feature 3 -->
      <li>
        <!-- Media Objects -->
        <div class="media">
          <!-- Media Image -->
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <!-- Media Image -->
          <!-- Media Body -->
          <div class="media__body">
            <h3 class="media__title">Easy to Manage & Update</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
              illo voluptatem eligendi at. Amet, officiis optio illum doloremque
              sapiente corporis.
            </p>
          </div>
          <!-- Media Body -->
        </div>
        <!-- Media Objects -->
      </li>
      <!-- Feature 3 -->
    </ul>
  </div>
</section>
<!-- END - SHOWCASE BLOCK - WHAT THE PLAN HAVE -->
