<svg class="icon">
  <use href="#easy"></use>
</svg>
<svg class="icon">
  <use href="#quotes"></use>
</svg>
<svg class="icon">
  <use href="#line"></use>
</svg>
<svg class="icon">
  <use href="#growth"></use>
</svg>
<svg class="icon">
  <use href="#menu"></use>
</svg>
<svg class="icon">
  <use href="#popular"></use>
</svg>
<svg class="icon">
  <use href="#search"></use>
</svg>
<svg class="icon">
  <use href="#settings"></use>
</svg>
<svg class="icon">
  <use href="#sprite"></use>
</svg>
<svg class="icon">
  <use href="#tick"></use>
</svg>
<svg class="icon">
  <use href="#snap"></use>
</svg>
<svg class="icon">
  <use href="#wordpress"></use>
</svg>
